.item {
  display: flex;
  align-items: center;
  gap: 38px;
  font-weight: 300;
  padding: 25px 15px;
  font-size: 44px;
  border-bottom: 1px solid #e6e6e6;

  .checkbox {
    position: relative;
    width: 56px;
    height: 56px;
    appearance: none;
    border: 2px solid #ccc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:checked {
      border-color: #4caf50;
      position: relative;
    }

    &:checked::after {
      content: "";
      position: absolute;
      left: 7px;
      top: 8px;
      width: 40px;
      height: 40px;
      background-image: url("../../assets/tick.svg");
      background-size: 40px 40px;
      background-repeat: no-repeat;
    }
  }

  .completed {
    text-decoration: line-through;
    color: #bbb;
  }
}
