.app {
  text-align: center;
  font-family: Inter, Arial, sans-serif;
  font-weight: lighter;
}

.title {
  font-size: 185px;
  font-weight: lighter;
  color: rgba(175, 47, 47, 0.15);
}

.container {
  max-width: 995px;
  margin: 0 auto;
  background: white;
  box-shadow: 6px 7px 10px rgba(0, 0, 0, 0.5);
}
