.footer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-size: 16px;
  border-top: 1px solid #e6e6e6;

  .filters {
    display: flex;
    gap: 10px;

    button {
      border: 1px solid transparent;
      background: none;
      cursor: pointer;
      font-size: 16px;
      padding: 5px 10px;
      transition: 0.2s;
    }

    .activeFilter {
      border-color: #4caf50;
      border-radius: 5px;
    }
  }

  .clearButton {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: red;
    opacity: 0.6;
    transition: 0.2s;

    &:hover {
      opacity: 1;
    }
  }
}
