.footer {
  display: flex;
  justify-content: space-between;
  padding: 21px 34px 21px 25px;
  font-size: 26px;
  font-weight: 300;

  .filters {
    display: flex;
    gap: 23px;
    margin-left: 63px;

    button {
      border: 2px solid transparent;
      background: none;
      cursor: pointer;
      padding: 5px 10px;
      transition: 0.2s;
      font-size: inherit;
    }

    .activeFilter {
      border-color: rgba(175, 47, 47, 0.15);
      border-radius: 5px;
    }
  }

  .clearButton {
    font-size: 25px;
    background: none;
    border: none;
    cursor: pointer;
    opacity: 0.6;
    transition: 0.2s;

    &:hover {
      opacity: 1;
    }
  }
}
